<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.RentalMapper">
	<insert id="insertRental"
			parameterType="map">
	<selectKey keyProperty="rentalId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
	</selectKey>
	INSERT INTO rental (
		rental_date,
		inventory_id,
		customer_id,
		staff_id
	) VALUES (
		NOW(),
		#{inventoryId},
		#{customerId},
		#{staffId}
	)
	</insert>
	
	<!-- rental할 때, payment에 추가하는 쿼리 넣기 -->
</mapper>